<div class="mt-52" id="o-nas">
  <div class="w-full gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
    <div class="flex flex-col items-stretch justify-center w-[45%] max-md:w-full max-md:ml-0">
      <div
        class="flex flex-col items-stretch px-5 max-md:max-w-full max-md:mt-10 lg:pl-20"
      >
        <div
          class="text-stone-500 text-8xl font-bold max-md:max-w-full max-md:text-4xl"
        >
          O nás
        </div>
        <div class="text-black text-xl mt-14 max-md:max-w-full max-md:mt-10">
          Sme tu, aby sme vám poskytli prvotriedne služby v oblasti prenájmu áut s ohľadom
          na vaše pohodlie a bezpečnosť. S našou ponukou vozidiel vám zabezpečíme ideálny spôsob prepravy pre každú príležitosť.
        </div>
        <div class="text-black text-xl mt-8 max-md:max-w-full">
          Prečo si vybrať práve nás pre váš nasledujúci prenájom auta? Ponúkame
           širokú paletu spoľahlivých automobilov pre každý vkus a potrebu. 
           Naše štartovacie ceny začínajú už od 30 eur na deň, a to bez 
           obmedzenia kilometrov, čo znamená, že si môžete užiť svoju cestu bez akýchkoľvek starostí o kilometráž.
        </div>
        <div class="text-black text-xl mt-8 max-md:max-w-full">
          Sme lokalne prítomní v rámci Žilinskej oblasti, čo zabezpečuje pohodlie a
           dostupnosť pri výbere vášho ideálneho vozidla. Naši odborníci v oblasti
            prenájmu áut sú pripravení vám pomôcť s každým krokom - od výberu vozidla
             až po uzatvorenie zmluvy. Zaväzujeme sa k poskytovaniu najlepšej možnej služby.
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-stretch w-[55%] ml-5 max-md:w-full max-md:ml-0"
    >      
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7c5678a74215e7efbfdadf9bdd5b158d2806c94d5faf75212c6da82f50714a22?apiKey=b53d5f0e235c489ab62a97dd983a0ba2&"
        class="aspect-[0.99] object-contain object-center w-full overflow-hidden grow mt-14 max-md:max-w-full max-md:mt-10"
      />
    </div>
  </div>
</div>