<div class="wrapper bg-gray-50 my-24">
    <div class="slider bg-gray-50">
        <div class="slide-track bg-gray-50">
            <div class="slide">
                <svg width="222" height="153" viewBox="0 0 222 153" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M58.1934 49.9515C58.2064 22.61 80.4157 0.41372 107.755 0.418946C134.904 0.424173 157.296 22.4192 157.26 50.0665C157.223 77.4656 135.064 99.5965 107.672 99.5625C80.2171 99.5312 58.2064 77.2696 58.1934 49.9515ZM153.036 50.0247C152.986 24.6482 132.478 4.72022 107.852 4.66273C82.9104 4.60524 62.4827 24.8076 62.4435 49.928C62.4043 74.8498 82.5133 95.2351 107.58 95.324C132.535 95.4102 152.96 75.2784 153.036 50.0247Z" fill="#696969"/>
                    <path d="M85.4782 152.085C85.2718 152.085 85.068 152.085 84.8617 152.085C81.9725 152.085 79.0834 152.074 76.1969 152.092C75.7241 152.095 75.3793 151.962 75.037 151.627C71.2754 147.969 67.4929 144.334 63.7365 140.67C63.3055 140.25 62.8745 140.08 62.2763 140.085C59.5726 140.111 56.8689 140.098 54.1653 140.098C53.9197 140.098 53.6716 140.098 53.3581 140.098C53.3581 144.112 53.3581 148.034 53.3581 151.933C52.786 152.119 46.757 152.142 46.0438 151.975C46.0438 141.778 46.0438 131.571 46.0438 121.325C48.4575 121.325 50.8268 121.325 53.3032 121.325C53.3738 122.274 53.3215 123.233 53.3267 124.192C53.332 125.185 53.3241 126.18 53.3215 127.173C53.3189 128.145 53.3189 129.115 53.3189 130.087C53.3189 131.056 53.3189 132.026 53.3189 133.045C53.5227 133.079 53.6951 133.131 53.8649 133.131C56.9839 133.144 60.1029 133.147 63.2245 133.168C63.585 133.17 63.8253 133.029 64.0709 132.792C67.822 129.123 71.5863 125.467 75.327 121.788C75.7058 121.414 76.0793 121.27 76.6018 121.273C79.4204 121.294 82.239 121.283 85.0602 121.283C85.2849 121.283 85.5095 121.283 85.7342 121.283C85.7577 121.325 85.7812 121.367 85.8047 121.411C80.4757 126.546 75.1442 131.678 69.7394 136.884C75.0188 141.93 80.2955 146.916 85.5487 151.925C85.5252 151.98 85.5017 152.032 85.4782 152.085Z" fill="#696969"/>
                    <path d="M4.97946 145.554C5.29293 145.554 5.59334 145.554 5.89114 145.554C13.4483 145.554 21.0055 145.554 28.5627 145.554C28.7717 145.554 28.9781 145.56 29.1871 145.552C30.1536 145.526 30.7518 144.969 30.7805 144.002C30.8119 142.962 30.7962 141.922 30.791 140.882C30.791 140.474 30.7701 140.064 30.757 139.594C30.3835 139.594 30.0857 139.594 29.7905 139.594C22.7636 139.594 15.7393 139.588 8.71235 139.599C7.58909 139.602 6.49456 139.481 5.46795 139.008C3.08036 137.908 1.81082 136.029 1.7429 133.401C1.69327 131.506 1.68282 129.606 1.74551 127.712C1.86829 123.943 4.93506 121.171 8.69145 121.299C8.73586 121.302 8.77766 121.325 8.92394 121.372C8.92394 121.584 8.92394 121.829 8.92394 122.072C8.92394 125.033 8.92394 127.991 8.92394 130.952C8.92394 131.161 8.9161 131.367 8.92917 131.577C8.97619 132.41 9.55088 132.993 10.3842 133.056C10.5906 133.071 10.7995 133.061 11.0085 133.061C17.7559 133.061 24.5059 133.056 31.2533 133.071C31.9404 133.074 32.6457 133.129 33.3118 133.291C36.1461 133.981 37.9381 136.231 38.0138 139.225C38.0661 141.329 38.0635 143.435 38.0164 145.536C37.9407 148.81 35.7673 151.361 32.5778 151.98C32.1493 152.064 31.7053 152.079 31.269 152.079C21.4 152.085 11.531 152.085 1.66453 152.082C1.46339 152.082 1.26486 152.061 0.946167 152.043C2.31759 149.835 3.642 147.705 4.97946 145.554Z" fill="#696969"/>
                    <path d="M37.2563 121.362C35.9214 123.484 34.631 125.532 33.3301 127.599C27.5701 127.599 21.8232 127.599 16.0188 127.599C14.7362 125.561 13.4353 123.494 12.1265 121.414C12.6646 121.26 36.1356 121.21 37.2563 121.362Z" fill="#696969"/>
                    <path d="M173.618 132.295C173.597 129.324 172.609 126.724 170.507 124.594C168.315 122.375 165.611 121.354 162.526 121.288C161.372 121.265 160.217 121.283 159.06 121.283C151.573 121.283 144.086 121.283 136.6 121.283C136.31 121.283 136.02 121.296 135.709 121.301C135.709 131.584 135.709 141.773 135.709 152.04C135.988 152.056 136.192 152.077 136.396 152.077C145.152 152.077 153.911 152.082 162.667 152.066C163.401 152.064 164.148 151.993 164.867 151.842C170.104 150.736 173.545 146.516 173.612 141.099C173.654 138.167 173.639 135.232 173.618 132.295ZM166.256 141.671C166.233 143.717 164.702 145.183 162.649 145.186C156.317 145.199 149.987 145.191 143.655 145.188C143.475 145.188 143.292 145.162 143.036 145.144C143.036 139.481 143.036 133.892 143.036 128.245C143.216 128.221 143.392 128.182 143.564 128.182C149.94 128.179 156.319 128.169 162.696 128.187C164.694 128.192 166.228 129.679 166.254 131.684C166.298 135.013 166.298 138.342 166.256 141.671Z" fill="#696969"/>
                    <path d="M127.373 132.055C127.365 129.967 126.801 128.028 125.644 126.295C123.382 122.916 120.137 121.322 116.125 121.294C110.532 121.257 104.939 121.278 99.3466 121.291C98.6569 121.294 97.9568 121.341 97.2777 121.45C91.8782 122.331 88.1113 126.719 88.0486 132.222C88.0147 135.204 88.0225 138.188 88.0486 141.169C88.0695 143.542 88.7226 145.737 90.1645 147.645C92.3066 150.48 95.1931 151.962 98.7248 152.059C101.703 152.14 104.686 152.074 107.667 152.074C107.667 152.077 107.667 152.077 107.667 152.079C110.485 152.079 113.306 152.09 116.125 152.072C116.838 152.066 117.559 152.019 118.262 151.912C123.447 151.133 127.352 146.6 127.371 141.345C127.386 138.251 127.384 135.154 127.373 132.055ZM120.038 141.7C120.025 143.636 118.492 145.144 116.538 145.186C115.198 145.215 113.858 145.194 112.52 145.194C110.927 145.194 109.333 145.194 107.74 145.194C104.83 145.194 101.92 145.204 99.0096 145.189C97.356 145.181 96.0447 144.224 95.5745 142.682C95.4491 142.27 95.3916 141.82 95.389 141.386C95.3733 138.266 95.3786 135.146 95.3838 132.029C95.3838 131.425 95.4569 130.829 95.7286 130.278C96.366 128.984 97.403 128.289 98.8398 128.19C98.9547 128.182 99.0697 128.185 99.1872 128.185C104.869 128.185 110.55 128.187 116.232 128.182C116.817 128.182 117.387 128.242 117.917 128.496C119.241 129.131 120.015 130.186 120.033 131.652C120.072 134.997 120.064 138.35 120.038 141.7Z" fill="#696969"/>
                    <path d="M220.988 151.421C215.45 141.551 209.91 131.681 204.385 121.803C204.157 121.398 203.909 121.27 203.46 121.273C200.503 121.291 197.543 121.296 194.586 121.27C194.074 121.265 193.81 121.448 193.567 121.884C188.053 131.741 182.523 141.59 176.998 151.442C176.901 151.617 176.82 151.802 176.703 152.043C176.974 152.058 177.176 152.077 177.377 152.079C179.618 152.082 181.859 152.061 184.101 152.095C184.649 152.103 184.918 151.91 185.172 151.45C187.063 148.034 188.98 144.634 190.892 141.232C191.02 141.002 191.161 140.783 191.334 140.498C191.527 140.79 191.655 140.981 191.778 141.175C192.815 142.816 193.857 144.452 194.876 146.103C195.072 146.422 195.289 146.571 195.655 146.526C195.814 146.508 195.978 146.524 196.14 146.524C200.414 146.524 204.69 146.545 208.964 146.503C209.677 146.495 210.032 146.73 210.343 147.336C210.996 148.609 211.73 149.843 212.43 151.092C212.611 151.413 212.799 151.729 212.974 152.032C215.743 152.032 218.475 152.032 221.286 152.032C221.166 151.781 221.087 151.596 220.988 151.421ZM191.517 140.108C193.983 135.716 196.404 131.401 198.891 126.967C201.381 131.401 203.805 135.718 206.239 140.054C205.68 140.203 192.674 140.25 191.517 140.108Z" fill="#696969"/>
                    <path d="M109.404 30.4391C109.284 30.1778 109.169 29.9087 109.038 29.6473C107.345 26.2816 105.182 23.2346 102.75 20.3732C100.514 17.7444 98.0927 15.2984 95.4674 13.0589C95.3472 12.957 95.1905 12.8943 95.0494 12.8133C95.0808 12.7428 95.1121 12.6748 95.1461 12.6043C96.2981 12.2933 97.4422 11.9457 98.6021 11.674C102.338 10.7959 106.131 10.5425 109.957 10.6862C110.89 10.7202 111.65 10.9893 112.387 11.6217C117.381 15.9204 121.389 20.9586 124.116 26.9819C125.832 30.7736 126.95 34.7378 127.53 38.8588C127.924 41.6575 128.11 44.4692 128.024 47.2941C127.812 54.3784 126.435 61.2301 123.886 67.844C123.805 68.0583 123.721 68.27 123.619 68.5365C123.802 68.5731 123.949 68.628 124.098 68.628C125.09 68.6358 126.085 68.6149 127.078 68.641C127.475 68.6515 127.655 68.4816 127.778 68.1315C128.068 67.3083 128.387 66.493 128.713 65.6228C133.447 66.2552 137.451 68.2412 140.832 71.6462C137.47 75.0459 133.468 77.0319 128.724 77.68C128.342 76.6922 127.974 75.7306 127.582 74.7166C127.305 74.7166 127.055 74.7166 126.804 74.7166C114.947 74.7166 103.09 74.7193 91.233 74.7114C90.7549 74.7114 90.3343 74.8081 89.9112 75.0328C88.5214 75.7671 87.1135 76.4622 85.7237 77.1939C85.136 77.5023 84.5299 77.6591 83.8664 77.6512C82.4558 77.6356 81.0478 77.6408 79.6372 77.6512C79.3185 77.6538 79.0651 77.5807 78.8405 77.335C75.7398 73.951 73.2268 70.1776 71.3564 65.9834C71.3199 65.9024 71.3042 65.8136 71.2598 65.6672C71.4635 65.6463 71.6359 65.615 71.8057 65.615C75.5047 65.6124 79.201 65.6176 82.8999 65.6098C83.4433 65.6098 83.9474 65.73 84.4411 65.9495C86.2775 66.7622 88.1218 67.5592 89.9582 68.3745C90.3683 68.5574 90.781 68.6541 91.2303 68.641C91.8991 68.6227 92.5704 68.6384 93.2418 68.6332C93.4664 68.6306 93.6911 68.6097 93.9889 68.594C93.9288 68.0269 93.8844 67.5252 93.8191 67.0261C93.4873 64.4913 92.8656 62.0402 91.7867 59.7118C90.0627 55.9933 87.3668 53.1423 83.9605 50.929C80.8127 48.8855 77.3724 47.4979 73.7806 46.4761C72.0513 45.9822 70.2959 45.5746 68.4699 45.1068C68.4699 44.9422 68.4412 44.7175 68.4751 44.5006C69.2275 39.6113 70.7556 34.9887 73.2294 30.6926C73.2973 30.5724 73.3835 30.4653 73.4985 30.2902C74.1985 30.4574 74.9143 30.6168 75.6248 30.8024C80.4418 32.0541 85.1464 33.6194 89.5663 35.9372C90.8307 36.601 92.0349 37.3849 93.2418 38.1558C94.0437 38.668 94.0228 38.6994 94.9162 38.0748C94.7412 37.8658 94.5792 37.6515 94.399 37.4529C92.6932 35.5818 90.7314 34.0009 88.7095 32.4957C85.2196 29.8982 81.5651 27.5594 77.7721 25.4271C77.5736 25.3147 77.3803 25.1971 77.1295 25.0508C77.5239 24.5882 77.8714 24.1597 78.2423 23.752C81.1314 20.5901 84.3993 17.8959 88.1401 15.7871C88.592 15.5336 88.9603 15.5075 89.4331 15.7087C92.351 16.9473 94.9658 18.6746 97.4448 20.6215C101.021 23.4254 104.234 26.6161 107.293 29.9661C107.356 30.0341 107.416 30.1046 107.478 30.1726C108.21 30.9827 108.309 30.9983 109.404 30.4391ZM119.385 59.1631C119.393 56.4401 117.238 54.2529 114.534 54.2399C111.778 54.2268 109.594 56.3879 109.587 59.1395C109.579 61.8808 111.789 64.0967 114.511 64.0784C117.219 64.0575 119.377 61.8808 119.385 59.1631Z" fill="#696969"/>
                    </svg>
                    
            </div>
            <div class="slide">
                <svg width="292" height="73" viewBox="0 0 292 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_11_428)">
                    <path d="M169.418 63.7435C169.418 64.2983 169.594 64.6195 169.915 64.6195C170.178 64.5903 170.411 64.4735 170.616 64.3275L261.632 5.25592C263.17 4.18098 265.012 3.62825 266.888 3.67912H286.89C289.956 3.67912 292.029 5.72312 292.029 8.78912V46.9827C292.029 51.5963 291.007 54.2827 286.919 56.7355L262.654 71.3355C262.412 71.5035 262.13 71.6042 261.836 71.6275C261.544 71.6275 261.252 71.3939 261.252 70.5471V25.9879C261.252 25.4623 261.106 25.1119 260.756 25.1119C260.5 25.1414 260.257 25.2426 260.055 25.4039L193.538 68.6199C192.019 69.6419 190.238 70.1967 188.428 70.1675H144.336C141.24 70.1675 139.196 68.1235 139.196 65.0283V9.98632C139.196 9.57752 139.021 9.19792 138.671 9.19792C138.415 9.23037 138.173 9.33126 137.97 9.48992L94.0824 35.8283C93.6444 36.1203 93.5276 36.3247 93.5276 36.5291C93.5276 36.7043 93.6152 36.8795 93.9072 37.2007L125.268 68.5323C125.677 68.9411 125.969 69.2623 125.969 69.6127C125.969 69.9047 125.502 70.1383 124.947 70.1383H96.6228C94.4036 70.1383 92.6808 69.8171 91.4836 68.6199L72.4744 49.6399C72.4023 49.5537 72.3133 49.4833 72.2128 49.4331C72.1123 49.3829 72.0026 49.3539 71.8904 49.3479C71.6843 49.3575 71.4837 49.4176 71.3064 49.5231L39.5368 68.6199C37.6096 69.7879 36.2956 70.1091 34.3976 70.1091H5.1684C2.044 70.1383 0 68.0651 0 64.9991V27.5355C0 22.8927 1.022 20.2355 5.1392 17.7827L29.5504 3.12432C29.7419 2.9989 29.964 2.92822 30.1928 2.91992C30.5724 2.91992 30.7768 3.29952 30.7768 4.14632V54.3119C30.7768 54.8375 30.8936 55.0711 31.2732 55.0711C31.536 55.0419 31.7696 54.9251 32.0032 54.7791L114.464 5.16832C116.041 4.08792 117.968 3.56232 119.895 3.64992H164.279C167.345 3.64992 169.418 5.69392 169.418 8.75992L169.389 63.7435H169.418Z" fill="#696969"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_11_428">
                    <rect width="292" height="73" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="slide">
                <svg width="238" height="129" viewBox="0 0 238 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_11_431)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M143.619 79.4072C145.427 89.368 140.529 97.6416 136.459 105.672C131.938 113.144 124.477 119.566 115.509 118.605C95.3846 118.284 75.7161 114.991 57.4761 109.125C56.6479 108.885 55.8197 108.32 55.3664 107.519C54.989 106.393 55.5183 105.348 56.2705 104.628C72.9277 90.248 92.7481 83.5832 112.343 76.5918C119.652 74.3432 127.417 71.9326 135.631 73.0583C139.019 73.5415 142.411 76.033 143.619 79.4072ZM212.276 36.8352C221.621 45.0279 230.063 56.1952 227.198 69.6894C222.526 89.6109 202.178 100.214 185.975 106.96C177.156 110.094 168.264 113.309 158.617 114.272C158.014 114.192 157.034 114.351 156.882 113.387L157.108 112.264C170.824 95.7952 181.223 77.3233 190.346 58.6058C194.565 50.1702 198.486 41.4971 202.102 32.9805C202.629 32.338 203.159 32.0168 203.761 31.7766C207.15 32.0951 209.564 34.9079 212.276 36.8352ZM80.7612 15.6289L80.4598 16.8328C60.6393 40.8492 47.6013 68.7231 35.242 96.4349C32.831 98.8455 30.4933 95.6305 28.3077 94.5859C17.3034 86.8764 7.35514 74.4242 10.2196 59.645C14.8163 40.3687 33.4312 30.0868 48.9588 23.1007C58.1523 19.4053 67.7257 16.4333 77.8233 14.7462C78.8794 14.7435 80.2344 14.5842 80.7612 15.6289ZM179.116 19.4836C180.246 20.126 181.603 20.3663 182.282 21.5702C182.885 22.9361 181.679 23.8188 181 24.7042C165.399 37.7152 147.539 44.9469 129.299 51.2931C120.027 53.7037 110.682 58.0416 100.359 55.631C97.9451 54.9886 95.762 53.3015 94.4045 50.8099C91.8415 43.2598 95.3086 35.3883 98.3225 28.8018C102.316 20.5282 109.403 10.8077 119.199 10.6485C140.301 10.4865 160.197 13.8608 179.116 19.4836ZM205.192 20.126C221.171 29.4443 239.259 45.8296 237.374 67.6784C235.189 87.9211 217.478 102.058 201.652 110.574C155.451 134.11 90.5625 134.831 42.8551 114.27C26.7248 107.122 8.63666 94.8315 1.85172 76.3542C-3.34779 61.1729 2.98128 45.3491 13.6108 34.8269C35.8423 13.2993 64.18 5.91106 93.3484 1.65143C125.004 -2.44623 158.313 1.16824 186.651 11.5312C192.982 14.0227 199.238 16.7545 205.192 20.126Z" fill="#696969"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_11_431">
                    <rect width="238" height="129" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="slide">
                <svg width="205" height="129" viewBox="0 0 205 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_42_2)">
                    <path d="M0 0.000732422L4.08453 129.001H23.941L23.5055 75.5059H40.1556V58.8305H23.5055L23.5675 16.8559H45.3056L45.1883 0.000732422H0Z" fill="#696969"/>
                    <path d="M53.0367 0.000488281L55.5487 129H76.0524L76.4687 0.000488281H53.0367Z" fill="#696969"/>
                    <path d="M149.157 0.000488281V16.2715H165.353L164.887 129H184.724L188.937 16.2528H205L204.877 0.000488281H149.157Z" fill="#696969"/>
                    <path d="M107.389 59.7044L107.614 15.8872H119.061C124.251 25.6462 127.586 38.5515 130.201 59.7044H107.389ZM89.0971 128.997H91.108H105.906H108.078L108.29 75.6543H131.034C132.821 85.0697 133.26 114.133 133.366 128.997H135.247H150.102H151.78C153.517 63.1396 148.12 25.9145 133.209 -0.000244141H87.36L89.0971 128.997Z" fill="#696969"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_42_2">
                    <rect width="205" height="129" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="slide">
                <svg width="222" height="153" viewBox="0 0 222 153" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M58.1934 49.9515C58.2064 22.61 80.4157 0.41372 107.755 0.418946C134.904 0.424173 157.296 22.4192 157.26 50.0665C157.223 77.4656 135.064 99.5965 107.672 99.5625C80.2171 99.5312 58.2064 77.2696 58.1934 49.9515ZM153.036 50.0247C152.986 24.6482 132.478 4.72022 107.852 4.66273C82.9104 4.60524 62.4827 24.8076 62.4435 49.928C62.4043 74.8498 82.5133 95.2351 107.58 95.324C132.535 95.4102 152.96 75.2784 153.036 50.0247Z" fill="#696969"/>
                    <path d="M85.4782 152.085C85.2718 152.085 85.068 152.085 84.8617 152.085C81.9725 152.085 79.0834 152.074 76.1969 152.092C75.7241 152.095 75.3793 151.962 75.037 151.627C71.2754 147.969 67.4929 144.334 63.7365 140.67C63.3055 140.25 62.8745 140.08 62.2763 140.085C59.5726 140.111 56.8689 140.098 54.1653 140.098C53.9197 140.098 53.6716 140.098 53.3581 140.098C53.3581 144.112 53.3581 148.034 53.3581 151.933C52.786 152.119 46.757 152.142 46.0438 151.975C46.0438 141.778 46.0438 131.571 46.0438 121.325C48.4575 121.325 50.8268 121.325 53.3032 121.325C53.3738 122.274 53.3215 123.233 53.3267 124.192C53.332 125.185 53.3241 126.18 53.3215 127.173C53.3189 128.145 53.3189 129.115 53.3189 130.087C53.3189 131.056 53.3189 132.026 53.3189 133.045C53.5227 133.079 53.6951 133.131 53.8649 133.131C56.9839 133.144 60.1029 133.147 63.2245 133.168C63.585 133.17 63.8253 133.029 64.0709 132.792C67.822 129.123 71.5863 125.467 75.327 121.788C75.7058 121.414 76.0793 121.27 76.6018 121.273C79.4204 121.294 82.239 121.283 85.0602 121.283C85.2849 121.283 85.5095 121.283 85.7342 121.283C85.7577 121.325 85.7812 121.367 85.8047 121.411C80.4757 126.546 75.1442 131.678 69.7394 136.884C75.0188 141.93 80.2955 146.916 85.5487 151.925C85.5252 151.98 85.5017 152.032 85.4782 152.085Z" fill="#696969"/>
                    <path d="M4.97946 145.554C5.29293 145.554 5.59334 145.554 5.89114 145.554C13.4483 145.554 21.0055 145.554 28.5627 145.554C28.7717 145.554 28.9781 145.56 29.1871 145.552C30.1536 145.526 30.7518 144.969 30.7805 144.002C30.8119 142.962 30.7962 141.922 30.791 140.882C30.791 140.474 30.7701 140.064 30.757 139.594C30.3835 139.594 30.0857 139.594 29.7905 139.594C22.7636 139.594 15.7393 139.588 8.71235 139.599C7.58909 139.602 6.49456 139.481 5.46795 139.008C3.08036 137.908 1.81082 136.029 1.7429 133.401C1.69327 131.506 1.68282 129.606 1.74551 127.712C1.86829 123.943 4.93506 121.171 8.69145 121.299C8.73586 121.302 8.77766 121.325 8.92394 121.372C8.92394 121.584 8.92394 121.829 8.92394 122.072C8.92394 125.033 8.92394 127.991 8.92394 130.952C8.92394 131.161 8.9161 131.367 8.92917 131.577C8.97619 132.41 9.55088 132.993 10.3842 133.056C10.5906 133.071 10.7995 133.061 11.0085 133.061C17.7559 133.061 24.5059 133.056 31.2533 133.071C31.9404 133.074 32.6457 133.129 33.3118 133.291C36.1461 133.981 37.9381 136.231 38.0138 139.225C38.0661 141.329 38.0635 143.435 38.0164 145.536C37.9407 148.81 35.7673 151.361 32.5778 151.98C32.1493 152.064 31.7053 152.079 31.269 152.079C21.4 152.085 11.531 152.085 1.66453 152.082C1.46339 152.082 1.26486 152.061 0.946167 152.043C2.31759 149.835 3.642 147.705 4.97946 145.554Z" fill="#696969"/>
                    <path d="M37.2563 121.362C35.9214 123.484 34.631 125.532 33.3301 127.599C27.5701 127.599 21.8232 127.599 16.0188 127.599C14.7362 125.561 13.4353 123.494 12.1265 121.414C12.6646 121.26 36.1356 121.21 37.2563 121.362Z" fill="#696969"/>
                    <path d="M173.618 132.295C173.597 129.324 172.609 126.724 170.507 124.594C168.315 122.375 165.611 121.354 162.526 121.288C161.372 121.265 160.217 121.283 159.06 121.283C151.573 121.283 144.086 121.283 136.6 121.283C136.31 121.283 136.02 121.296 135.709 121.301C135.709 131.584 135.709 141.773 135.709 152.04C135.988 152.056 136.192 152.077 136.396 152.077C145.152 152.077 153.911 152.082 162.667 152.066C163.401 152.064 164.148 151.993 164.867 151.842C170.104 150.736 173.545 146.516 173.612 141.099C173.654 138.167 173.639 135.232 173.618 132.295ZM166.256 141.671C166.233 143.717 164.702 145.183 162.649 145.186C156.317 145.199 149.987 145.191 143.655 145.188C143.475 145.188 143.292 145.162 143.036 145.144C143.036 139.481 143.036 133.892 143.036 128.245C143.216 128.221 143.392 128.182 143.564 128.182C149.94 128.179 156.319 128.169 162.696 128.187C164.694 128.192 166.228 129.679 166.254 131.684C166.298 135.013 166.298 138.342 166.256 141.671Z" fill="#696969"/>
                    <path d="M127.373 132.055C127.365 129.967 126.801 128.028 125.644 126.295C123.382 122.916 120.137 121.322 116.125 121.294C110.532 121.257 104.939 121.278 99.3466 121.291C98.6569 121.294 97.9568 121.341 97.2777 121.45C91.8782 122.331 88.1113 126.719 88.0486 132.222C88.0147 135.204 88.0225 138.188 88.0486 141.169C88.0695 143.542 88.7226 145.737 90.1645 147.645C92.3066 150.48 95.1931 151.962 98.7248 152.059C101.703 152.14 104.686 152.074 107.667 152.074C107.667 152.077 107.667 152.077 107.667 152.079C110.485 152.079 113.306 152.09 116.125 152.072C116.838 152.066 117.559 152.019 118.262 151.912C123.447 151.133 127.352 146.6 127.371 141.345C127.386 138.251 127.384 135.154 127.373 132.055ZM120.038 141.7C120.025 143.636 118.492 145.144 116.538 145.186C115.198 145.215 113.858 145.194 112.52 145.194C110.927 145.194 109.333 145.194 107.74 145.194C104.83 145.194 101.92 145.204 99.0096 145.189C97.356 145.181 96.0447 144.224 95.5745 142.682C95.4491 142.27 95.3916 141.82 95.389 141.386C95.3733 138.266 95.3786 135.146 95.3838 132.029C95.3838 131.425 95.4569 130.829 95.7286 130.278C96.366 128.984 97.403 128.289 98.8398 128.19C98.9547 128.182 99.0697 128.185 99.1872 128.185C104.869 128.185 110.55 128.187 116.232 128.182C116.817 128.182 117.387 128.242 117.917 128.496C119.241 129.131 120.015 130.186 120.033 131.652C120.072 134.997 120.064 138.35 120.038 141.7Z" fill="#696969"/>
                    <path d="M220.988 151.421C215.45 141.551 209.91 131.681 204.385 121.803C204.157 121.398 203.909 121.27 203.46 121.273C200.503 121.291 197.543 121.296 194.586 121.27C194.074 121.265 193.81 121.448 193.567 121.884C188.053 131.741 182.523 141.59 176.998 151.442C176.901 151.617 176.82 151.802 176.703 152.043C176.974 152.058 177.176 152.077 177.377 152.079C179.618 152.082 181.859 152.061 184.101 152.095C184.649 152.103 184.918 151.91 185.172 151.45C187.063 148.034 188.98 144.634 190.892 141.232C191.02 141.002 191.161 140.783 191.334 140.498C191.527 140.79 191.655 140.981 191.778 141.175C192.815 142.816 193.857 144.452 194.876 146.103C195.072 146.422 195.289 146.571 195.655 146.526C195.814 146.508 195.978 146.524 196.14 146.524C200.414 146.524 204.69 146.545 208.964 146.503C209.677 146.495 210.032 146.73 210.343 147.336C210.996 148.609 211.73 149.843 212.43 151.092C212.611 151.413 212.799 151.729 212.974 152.032C215.743 152.032 218.475 152.032 221.286 152.032C221.166 151.781 221.087 151.596 220.988 151.421ZM191.517 140.108C193.983 135.716 196.404 131.401 198.891 126.967C201.381 131.401 203.805 135.718 206.239 140.054C205.68 140.203 192.674 140.25 191.517 140.108Z" fill="#696969"/>
                    <path d="M109.404 30.4391C109.284 30.1778 109.169 29.9087 109.038 29.6473C107.345 26.2816 105.182 23.2346 102.75 20.3732C100.514 17.7444 98.0927 15.2984 95.4674 13.0589C95.3472 12.957 95.1905 12.8943 95.0494 12.8133C95.0808 12.7428 95.1121 12.6748 95.1461 12.6043C96.2981 12.2933 97.4422 11.9457 98.6021 11.674C102.338 10.7959 106.131 10.5425 109.957 10.6862C110.89 10.7202 111.65 10.9893 112.387 11.6217C117.381 15.9204 121.389 20.9586 124.116 26.9819C125.832 30.7736 126.95 34.7378 127.53 38.8588C127.924 41.6575 128.11 44.4692 128.024 47.2941C127.812 54.3784 126.435 61.2301 123.886 67.844C123.805 68.0583 123.721 68.27 123.619 68.5365C123.802 68.5731 123.949 68.628 124.098 68.628C125.09 68.6358 126.085 68.6149 127.078 68.641C127.475 68.6515 127.655 68.4816 127.778 68.1315C128.068 67.3083 128.387 66.493 128.713 65.6228C133.447 66.2552 137.451 68.2412 140.832 71.6462C137.47 75.0459 133.468 77.0319 128.724 77.68C128.342 76.6922 127.974 75.7306 127.582 74.7166C127.305 74.7166 127.055 74.7166 126.804 74.7166C114.947 74.7166 103.09 74.7193 91.233 74.7114C90.7549 74.7114 90.3343 74.8081 89.9112 75.0328C88.5214 75.7671 87.1135 76.4622 85.7237 77.1939C85.136 77.5023 84.5299 77.6591 83.8664 77.6512C82.4558 77.6356 81.0478 77.6408 79.6372 77.6512C79.3185 77.6538 79.0651 77.5807 78.8405 77.335C75.7398 73.951 73.2268 70.1776 71.3564 65.9834C71.3199 65.9024 71.3042 65.8136 71.2598 65.6672C71.4635 65.6463 71.6359 65.615 71.8057 65.615C75.5047 65.6124 79.201 65.6176 82.8999 65.6098C83.4433 65.6098 83.9474 65.73 84.4411 65.9495C86.2775 66.7622 88.1218 67.5592 89.9582 68.3745C90.3683 68.5574 90.781 68.6541 91.2303 68.641C91.8991 68.6227 92.5704 68.6384 93.2418 68.6332C93.4664 68.6306 93.6911 68.6097 93.9889 68.594C93.9288 68.0269 93.8844 67.5252 93.8191 67.0261C93.4873 64.4913 92.8656 62.0402 91.7867 59.7118C90.0627 55.9933 87.3668 53.1423 83.9605 50.929C80.8127 48.8855 77.3724 47.4979 73.7806 46.4761C72.0513 45.9822 70.2959 45.5746 68.4699 45.1068C68.4699 44.9422 68.4412 44.7175 68.4751 44.5006C69.2275 39.6113 70.7556 34.9887 73.2294 30.6926C73.2973 30.5724 73.3835 30.4653 73.4985 30.2902C74.1985 30.4574 74.9143 30.6168 75.6248 30.8024C80.4418 32.0541 85.1464 33.6194 89.5663 35.9372C90.8307 36.601 92.0349 37.3849 93.2418 38.1558C94.0437 38.668 94.0228 38.6994 94.9162 38.0748C94.7412 37.8658 94.5792 37.6515 94.399 37.4529C92.6932 35.5818 90.7314 34.0009 88.7095 32.4957C85.2196 29.8982 81.5651 27.5594 77.7721 25.4271C77.5736 25.3147 77.3803 25.1971 77.1295 25.0508C77.5239 24.5882 77.8714 24.1597 78.2423 23.752C81.1314 20.5901 84.3993 17.8959 88.1401 15.7871C88.592 15.5336 88.9603 15.5075 89.4331 15.7087C92.351 16.9473 94.9658 18.6746 97.4448 20.6215C101.021 23.4254 104.234 26.6161 107.293 29.9661C107.356 30.0341 107.416 30.1046 107.478 30.1726C108.21 30.9827 108.309 30.9983 109.404 30.4391ZM119.385 59.1631C119.393 56.4401 117.238 54.2529 114.534 54.2399C111.778 54.2268 109.594 56.3879 109.587 59.1395C109.579 61.8808 111.789 64.0967 114.511 64.0784C117.219 64.0575 119.377 61.8808 119.385 59.1631Z" fill="#696969"/>
                    </svg>
                    
            </div>
            <div class="slide">
                <svg width="292" height="73" viewBox="0 0 292 73" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_11_428)">
                    <path d="M169.418 63.7435C169.418 64.2983 169.594 64.6195 169.915 64.6195C170.178 64.5903 170.411 64.4735 170.616 64.3275L261.632 5.25592C263.17 4.18098 265.012 3.62825 266.888 3.67912H286.89C289.956 3.67912 292.029 5.72312 292.029 8.78912V46.9827C292.029 51.5963 291.007 54.2827 286.919 56.7355L262.654 71.3355C262.412 71.5035 262.13 71.6042 261.836 71.6275C261.544 71.6275 261.252 71.3939 261.252 70.5471V25.9879C261.252 25.4623 261.106 25.1119 260.756 25.1119C260.5 25.1414 260.257 25.2426 260.055 25.4039L193.538 68.6199C192.019 69.6419 190.238 70.1967 188.428 70.1675H144.336C141.24 70.1675 139.196 68.1235 139.196 65.0283V9.98632C139.196 9.57752 139.021 9.19792 138.671 9.19792C138.415 9.23037 138.173 9.33126 137.97 9.48992L94.0824 35.8283C93.6444 36.1203 93.5276 36.3247 93.5276 36.5291C93.5276 36.7043 93.6152 36.8795 93.9072 37.2007L125.268 68.5323C125.677 68.9411 125.969 69.2623 125.969 69.6127C125.969 69.9047 125.502 70.1383 124.947 70.1383H96.6228C94.4036 70.1383 92.6808 69.8171 91.4836 68.6199L72.4744 49.6399C72.4023 49.5537 72.3133 49.4833 72.2128 49.4331C72.1123 49.3829 72.0026 49.3539 71.8904 49.3479C71.6843 49.3575 71.4837 49.4176 71.3064 49.5231L39.5368 68.6199C37.6096 69.7879 36.2956 70.1091 34.3976 70.1091H5.1684C2.044 70.1383 0 68.0651 0 64.9991V27.5355C0 22.8927 1.022 20.2355 5.1392 17.7827L29.5504 3.12432C29.7419 2.9989 29.964 2.92822 30.1928 2.91992C30.5724 2.91992 30.7768 3.29952 30.7768 4.14632V54.3119C30.7768 54.8375 30.8936 55.0711 31.2732 55.0711C31.536 55.0419 31.7696 54.9251 32.0032 54.7791L114.464 5.16832C116.041 4.08792 117.968 3.56232 119.895 3.64992H164.279C167.345 3.64992 169.418 5.69392 169.418 8.75992L169.389 63.7435H169.418Z" fill="#696969"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_11_428">
                    <rect width="292" height="73" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="slide">
                <svg width="238" height="129" viewBox="0 0 238 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_11_431)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M143.619 79.4072C145.427 89.368 140.529 97.6416 136.459 105.672C131.938 113.144 124.477 119.566 115.509 118.605C95.3846 118.284 75.7161 114.991 57.4761 109.125C56.6479 108.885 55.8197 108.32 55.3664 107.519C54.989 106.393 55.5183 105.348 56.2705 104.628C72.9277 90.248 92.7481 83.5832 112.343 76.5918C119.652 74.3432 127.417 71.9326 135.631 73.0583C139.019 73.5415 142.411 76.033 143.619 79.4072ZM212.276 36.8352C221.621 45.0279 230.063 56.1952 227.198 69.6894C222.526 89.6109 202.178 100.214 185.975 106.96C177.156 110.094 168.264 113.309 158.617 114.272C158.014 114.192 157.034 114.351 156.882 113.387L157.108 112.264C170.824 95.7952 181.223 77.3233 190.346 58.6058C194.565 50.1702 198.486 41.4971 202.102 32.9805C202.629 32.338 203.159 32.0168 203.761 31.7766C207.15 32.0951 209.564 34.9079 212.276 36.8352ZM80.7612 15.6289L80.4598 16.8328C60.6393 40.8492 47.6013 68.7231 35.242 96.4349C32.831 98.8455 30.4933 95.6305 28.3077 94.5859C17.3034 86.8764 7.35514 74.4242 10.2196 59.645C14.8163 40.3687 33.4312 30.0868 48.9588 23.1007C58.1523 19.4053 67.7257 16.4333 77.8233 14.7462C78.8794 14.7435 80.2344 14.5842 80.7612 15.6289ZM179.116 19.4836C180.246 20.126 181.603 20.3663 182.282 21.5702C182.885 22.9361 181.679 23.8188 181 24.7042C165.399 37.7152 147.539 44.9469 129.299 51.2931C120.027 53.7037 110.682 58.0416 100.359 55.631C97.9451 54.9886 95.762 53.3015 94.4045 50.8099C91.8415 43.2598 95.3086 35.3883 98.3225 28.8018C102.316 20.5282 109.403 10.8077 119.199 10.6485C140.301 10.4865 160.197 13.8608 179.116 19.4836ZM205.192 20.126C221.171 29.4443 239.259 45.8296 237.374 67.6784C235.189 87.9211 217.478 102.058 201.652 110.574C155.451 134.11 90.5625 134.831 42.8551 114.27C26.7248 107.122 8.63666 94.8315 1.85172 76.3542C-3.34779 61.1729 2.98128 45.3491 13.6108 34.8269C35.8423 13.2993 64.18 5.91106 93.3484 1.65143C125.004 -2.44623 158.313 1.16824 186.651 11.5312C192.982 14.0227 199.238 16.7545 205.192 20.126Z" fill="#696969"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_11_431">
                    <rect width="238" height="129" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
            <div class="slide">
                <svg width="205" height="129" viewBox="0 0 205 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_42_2)">
                    <path d="M0 0.000732422L4.08453 129.001H23.941L23.5055 75.5059H40.1556V58.8305H23.5055L23.5675 16.8559H45.3056L45.1883 0.000732422H0Z" fill="#696969"/>
                    <path d="M53.0367 0.000488281L55.5487 129H76.0524L76.4687 0.000488281H53.0367Z" fill="#696969"/>
                    <path d="M149.157 0.000488281V16.2715H165.353L164.887 129H184.724L188.937 16.2528H205L204.877 0.000488281H149.157Z" fill="#696969"/>
                    <path d="M107.389 59.7044L107.614 15.8872H119.061C124.251 25.6462 127.586 38.5515 130.201 59.7044H107.389ZM89.0971 128.997H91.108H105.906H108.078L108.29 75.6543H131.034C132.821 85.0697 133.26 114.133 133.366 128.997H135.247H150.102H151.78C153.517 63.1396 148.12 25.9145 133.209 -0.000244141H87.36L89.0971 128.997Z" fill="#696969"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_42_2">
                    <rect width="205" height="129" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
            </div>
        </div>
    </div>
</div>
    
<style>

.wrapper {
	 align-items: center;
	 display: flex;
	 justify-content: center;
}
 @keyframes scroll {
	 0% {
		 transform: translateX(0);
	}
	 100% {
		 transform: translateX(calc(-250px * 5));
	}
}
 .slider {
	 height: 153px;
	 margin: auto;
	 overflow: hidden;
	 position: relative;
	 width: 100%;
}
 .slider::before, .slider::after {
	 content: "";
	 height: 100px;
	 position: absolute;
	 width: 200px;
	 z-index: 2;
}
 .slider::after {
	 right: 0;
	 top: 0;
	 transform: rotateZ(180deg);
}
 .slider::before {
	 left: 0;
	 top: 0;
}
 .slider .slide-track {
	 animation: scroll 5s linear infinite;
	 display: flex;
     gap: 200px;
     height: 100%;
	 width: calc(250px * 10);
}
 .slider .slide {
	 height: 100%;
	 width: 250px;
     display: flex;
     align-items: center;
     justify-content: center;
}
 
  </style>