---
import { Image } from "astro:assets";
---

<div class="w-full mt-16 mx-auto px-5 lg:w-4/5 text-center" id="ponuka-vozidiel">
    <h1 class="text-stone-500 text-8xl font-bold self-center max-md:max-w-full max-md:text-4xl">Ponuka vozidiel</h1>
    <div class="text-black text-xl self-center mt-10 mx-auto lg:w-1/2">
        Sme hrdí na našu širokú a kvalitnú ponuku vozidiel, ktorá uspokojí každého zákazníka. Sme presvedčení, že správny výber vozidla je kľúčovým krokom k úspešnému a pohodlnému cestovaniu.
        <br><br>
        Zažite spoľahlivosť a eleganciu s našimi vozidlami od Škoda, ktoré 
        ponúkajú vysoký štandard bezpečnosti, luxusné vybavenie a pohodlie. 
        Pre milovníkov štýlu a dynamiky sú vozidlá od Fiat ideálnou voľbou s 
        moderným dizajnom a úspornými motormi. Okrem Škoda a Fiat ponúkame 
        široký výber ďalších značiek. Naše vozidlá spĺňajú najvyššie 
        bezpečnostné normy a poskytujú maximálny komfort.
    </div>
    <Image src="/images/cars.png" width={1920} height={600} class="mt-16 w-full" alt="CarsForRent" />
</div>