---
let links = [
  { name: 'Domov', link: '' },
  { name: 'O nás', link: '#o-nas' },
  { name: 'Ponuka vozidiel', link: '#ponuka-vozidiel' },
  { name: 'Rezervácia', link: '#rezervacia' },
  { name: 'Kontakt', link: '#kontakt' }
];
---

<div class="bg-gray-50 py-8">
<div class="w-11/12 mx-auto flex justify-between items-center gap-8 flex-col lg:flex-row lg:gap-0 lg:w-[68%]">
  <svg width="41" height="20" viewBox="0 0 41 20" fill="none" id="nav-icon" xmlns="http://www.w3.org/2000/svg">
    <path d="M39.2509 4.20118L24.9841 0.329909C22.6349 -0.304234 20.1306 -0.0173185 17.9879 1.13145L11.7118 4.54226L2.57215 6.24766C1.89293 6.24765 1.24128 6.51482 0.7594 6.99087C0.277519 7.46693 0.0045281 8.11322 0 8.78871L0 13.9049C0 14.5834 0.270993 15.234 0.753364 15.7138C1.23573 16.1935 1.88997 16.463 2.57215 16.463H4.28691C4.45544 17.4522 4.97065 18.35 5.74121 18.9974C6.51178 19.6448 7.48793 20 8.49665 20C9.50538 20 10.4815 19.6448 11.2521 18.9974C12.0227 18.35 12.5379 17.4522 12.7064 16.463H28.2936C28.4621 17.4522 28.9773 18.35 29.7479 18.9974C30.5185 19.6448 31.4946 20 32.5033 20C33.5121 20 34.4882 19.6448 35.2588 18.9974C36.0294 18.35 36.5446 17.4522 36.7131 16.463H38.4279C39.11 16.463 39.7643 16.1935 40.2466 15.7138C40.729 15.234 41 14.5834 41 13.9049V6.58874C40.9925 6.05975 40.8203 5.54609 40.507 5.1185C40.1938 4.6909 39.7549 4.37042 39.2509 4.20118ZM30.8657 3.70661V4.5252H29.6654L28.9967 3.17793L30.8657 3.70661ZM18.8624 2.64926C20.512 1.77379 22.4238 1.51947 24.2468 1.93299H24.5897H24.8812L26.8361 2.46166L27.7963 4.38877H15.4329L18.8624 2.64926ZM8.57382 18.2878C8.0651 18.2878 7.5678 18.1378 7.14481 17.8567C6.72182 17.5756 6.39215 17.1761 6.19747 16.7087C6.00279 16.2412 5.95185 15.7269 6.0511 15.2306C6.15034 14.7344 6.39532 14.2786 6.75504 13.9209C7.11476 13.5631 7.57307 13.3195 8.07202 13.2208C8.57097 13.1221 9.08814 13.1727 9.55814 13.3663C10.0281 13.5599 10.4298 13.8878 10.7125 14.3085C10.9951 14.7292 11.146 15.2238 11.146 15.7297C11.146 16.4082 10.875 17.0588 10.3926 17.5386C9.91023 18.0183 9.25599 18.2878 8.57382 18.2878ZM32.5805 18.2878C32.0718 18.2878 31.5745 18.1378 31.1515 17.8567C30.7285 17.5756 30.3988 17.1761 30.2042 16.7087C30.0095 16.2412 29.9585 15.7269 30.0578 15.2306C30.157 14.7344 30.402 14.2786 30.7617 13.9209C31.1215 13.5631 31.5798 13.3195 32.0787 13.2208C32.5777 13.1221 33.0948 13.1727 33.5648 13.3663C34.0348 13.5599 34.4365 13.8878 34.7192 14.3085C35.0018 14.7292 35.1527 15.2238 35.1527 15.7297C35.1527 16.4082 34.8817 17.0588 34.3993 17.5386C33.9169 18.0183 33.2627 18.2878 32.5805 18.2878ZM39.4396 9.64141H38.5822C38.3548 9.64141 38.1367 9.73125 37.9759 9.89116C37.8151 10.0511 37.7248 10.268 37.7248 10.4941C37.7248 10.7203 37.8151 10.9372 37.9759 11.0971C38.1367 11.257 38.3548 11.3468 38.5822 11.3468H39.4396V13.9049C39.4396 14.1311 39.3492 14.348 39.1884 14.5079C39.0277 14.6678 38.8096 14.7576 38.5822 14.7576H36.7474C36.5286 13.824 35.9986 12.9915 35.2436 12.3955C34.4886 11.7995 33.553 11.4751 32.5891 11.4751C31.6252 11.4751 30.6896 11.7995 29.9346 12.3955C29.1796 12.9915 28.6496 13.824 28.4308 14.7576H12.7407C12.5219 13.824 11.9919 12.9915 11.2369 12.3955C10.4819 11.7995 9.54631 11.4751 8.58239 11.4751C7.61847 11.4751 6.68291 11.7995 5.92791 12.3955C5.17291 12.9915 4.6429 13.824 4.42409 14.7576H2.57215C2.34475 14.7576 2.12668 14.6678 1.96589 14.5079C1.80509 14.348 1.71476 14.1311 1.71476 13.9049V11.3468H2.57215C2.79954 11.3468 3.01762 11.257 3.17841 11.0971C3.3392 10.9372 3.42953 10.7203 3.42953 10.4941C3.42953 10.268 3.3392 10.0511 3.17841 9.89116C3.01762 9.73125 2.79954 9.64141 2.57215 9.64141H1.71476V8.78871C1.72115 8.66462 1.75273 8.54309 1.80759 8.43145C1.86245 8.31981 1.93946 8.22036 2.03398 8.1391C2.1285 8.05784 2.23859 7.99644 2.3576 7.95861C2.47661 7.92078 2.60208 7.90729 2.72647 7.91896L12.0033 6.23061H31.7231C31.9505 6.23061 32.1686 6.14077 32.3294 5.98086C32.4902 5.82094 32.5805 5.60406 32.5805 5.37791V4.16707L38.8051 5.87247C38.9706 5.91531 39.1195 6.0064 39.2326 6.13404C39.3456 6.26168 39.4177 6.42003 39.4396 6.58874V9.64141ZM26.5788 11.3468H14.5755C14.3481 11.3468 14.13 11.4367 13.9692 11.5966C13.8084 11.7565 13.7181 11.9734 13.7181 12.1995C13.7181 12.4257 13.8084 12.6426 13.9692 12.8025C14.13 12.9624 14.3481 13.0522 14.5755 13.0522H26.5788C26.8062 13.0522 27.0243 12.9624 27.1851 12.8025C27.3459 12.6426 27.4362 12.4257 27.4362 12.1995C27.4362 11.9734 27.3459 11.7565 27.1851 11.5966C27.0243 11.4367 26.8062 11.3468 26.5788 11.3468Z" fill="black"/>
  </svg>

  <div class="hidden lg:block">
    <nav class="w-full flex justify-center items-center space-x-8">
      {links.map(link => (
        <a href={`/${link.link}`} class="text-zinc-900 hover:text-zinc-600">{link.name}</a>
        ))}
    </nav>
  </div>

  <div class="w-full bg-gray-50 lg:hidden">
    <nav class="w-full flex flex-col items-center gap-8" id="navbar" style="display: none">
      {links.map(link => (
        <a href={`/${link.link}`} class="text-zinc-900 hover:text-zinc-600">{link.name}</a>
        ))}
    </nav>
  </div>
  </div>
</div>

<script>
  const navIcon = document.getElementById('nav-icon');
  const navbar = document.getElementById('navbar');

  navIcon.addEventListener('click', () => {
    const isHidden = navbar.style.display === 'none';
    navbar.style.display = isHidden ? 'flex' : 'none';
  });
</script>