---

---

<header class="mt-52 flex max-w-full flex-col items-stretch justify-center px-5" id="rezervacia">
    <h1 class="text-stone-500 text-8xl font-bold self-center max-md:max-w-full max-md:text-4xl">Rezervácia</h1>
    <div class="bg-black min-h-[1px] mx-auto w-full mt-9 max-md:max-w-full lg:w-1/3"></div>
    <div class="text-black text-xl self-center whitespace-nowrap mt-10">3 jednoduché kroky k úspešnej rezervácií</div>

    <div class="mt-16 grid grid-cols-1 gap-8 lg:w-4/5 lg:mx-auto lg:grid-cols-2 lg:grid-rows-2">
        <section class="bg-[#CDDDFF] relative flex justify-center items-center rounded-2xl lg:col-start-1 lg:row-span-2">
            <h1 class="text-white text-[200px] font-bold lg:text-[400px] pointer-events-none">1</h1>
            <h2 class="text-[#407BFF] absolute top-1/2 -translate-y-1/2 text-5xl font-bold">KONTAKT</h2>
        </section>

        <section class="bg-[#CDDDFF] relative flex justify-center items-center rounded-2xl lg:col-start-2 lg:row-span-1">
            <h1 class="text-white text-[200px] font-bold pointer-events-none">2</h1>
            <h2 class="text-[#407BFF] absolute top-1/2 -translate-y-1/2 text-5xl font-bold">VÝBER<br> VOZIDLA</h2>
        </section>

        <section class="bg-[#CDDDFF] relative flex justify-center items-center rounded-2xl lg:col-start-2 lg:row-start-2 lg:row-span-1">
            <h1 class="text-white text-[200px] font-bold pointer-events-none">3</h1>
            <h2 class="text-[#407BFF] absolute top-1/2 -translate-y-1/2 text-5xl font-bold">PREVZATIE</h2>
        </section>
    </div>    
</header>